:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 @media (min-width: 375px) {
    main { 
        width: 500px;
    }
} 

@media only screen and (min-width: 1025px) {
    .mobile-only {
        display: none;
    }
}

@media only screen and (max-width: 1025px) {
    .desktop-only {
        display: none;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8750em;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 1px);
}

main {
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width:588px) {
   main {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

main .mobile-only, 
main .desktop-only {
    max-width: 100%;
}

main .mobile-only {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

main .desktop-only {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

main section {
    background-color: var(--White);
    margin-top: -4px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (min-width:588px) {
    main section {
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
        margin-top: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}

main section .perfume {
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.7500em;
    
}

main section h1 {
    margin-bottom: 10px;
    margin-top: 7px;
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', serif;
    font-size: 2em;
}

main section p:first-of-type {
    color: var(--Dark-grayish-blue);
    margin-bottom: 15px;
    line-height: 1.8;
}

main section p:last-of-type .price {
    color: var(--Dark-cyan);
    font-weight: 700;
    font-size: 2em;
    
}

main section p:last-of-type del {
    margin-left: 15px;
    position: relative;
    top: -5px;
    color: var(--Dark-grayish-blue);
}

main section button {
    color: var(--White);
    margin-top: 7px;
    background-color: var(--Dark-cyan);
    width: 100%;
    outline: none;
    padding: 7px 0;
    text-align: center;
    border-radius: 10px;
    border-color: var(--Dark-cyan);
}

main section button:hover {
    outline: none;
    background-color: var(--Very-dark-blue);
    border-color: var(--Very-dark-blue);
    cursor: pointer;
}

main section button img {
    margin-right: 5px;
}

footer {
    font-size: 0.6875em;
    text-align: center;
    margin-top: 10px;
}

footer a {
    color: hsl(228, 45%, 44%);
}